// Place all the styles related to the api/pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  display: flex;
}

ul.pokemon-index {
  list-style: none;
  padding: 10px;
  width: 150px;
  display: block;
}

.pokemon-index-item {
  // width: 150px;
}

.pokemon-index-item img {
  width: 20px;
  height: 20px;
}

.pokemon-detail {
  // padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-detail .pkm-img {
  height: 300px;
}

.pokemon-detail .name {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.pokemon-items {
  display: flex;
  list-style: none;
  align-content: center;
}

.pokemon-items li {

}

.pokemon-items li a {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.pokemon-items li img{
  height: 60px;
}
